<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023. Venelin Iliev.
  ~ https://veneliniliev.com
  -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./tests/Unit</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Borica3ds">
      <directory suffix=".php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
