<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020. Venelin Iliev.
  -->

<phpunit bootstrap="vendor/autoload.php" backupGlobals="false" colors="true">
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./tests/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Borica3ds">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>